/* line 1, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 17, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
body.stpaul {
  font-family: 'Roboto', sans-serif;
}

/* line 21, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
a:hover {
  background-color: transparent;
}

/* line 23, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.container-fluid {
  max-width: 1920px;
  margin: auto;
  padding: 0;
}

/* line 29, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.row {
  margin: 0;
}

/* line 31, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
img.logo {
  width: 500px;
  padding: 20px;
  margin: auto;
  display: block;
}

/* line 38, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
img {
  width: 100%;
  max-width: 1500px;
}

/* line 43, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

/* line 49, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul strong {
  font-weight: 500;
}

/* line 52, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul h1 {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
}
/* line 58, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul h2, .stpaul h3, .stpaul h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 65, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
div.background-image {
  background-image: url(/assets/church_mobile-b62e5248df290ea3b16b30229fcb5e3dd6cd42c19ac4db82ea05bc676f4219e2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  padding: 68% 0 0;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 800px) {
  /* line 65, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
  div.background-image {
    background-image: url(/assets/church_tablet-11e97008df84875d44c157956f031fcc9250f7a4a0a859b83ba05d9fbd535679.jpg);
  }
}
@media (min-width: 1100px) {
  /* line 65, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
  div.background-image {
    background-image: url(/assets/church-4da067c936b52d769627eeaba5b5154f56d44aba5be9650a7a11411b20756e36.jpg);
  }
}

/* line 83, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
div.wrapper {
  margin: 3em 0 0;
}

/* line 85, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul .navbar-nav {
  float: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
/* line 90, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul .navbar-nav li {
  border-bottom: 2px solid transparent;
}
/* line 93, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul .navbar-nav li:hover {
  background-color: transparent;
  border-bottom: 2px solid #363636;
  font-weight: 500;
}
/* line 99, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul .navbar-nav li > a {
  color: #363636;
  text-transform: uppercase;
  padding: 0 40px;
  height: 35px;
}
/* line 105, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.stpaul .navbar-nav li > a:hover, .stpaul .navbar-nav li > a:focus {
  background-color: transparent;
}

/* line 110, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.navbar-collapse.collapse {
  text-align: center;
}

/* line 114, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.mainNav {
  display: inline-block;
  float: none;
}

/* line 120, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.secondary-info-background {
  margin-top: 2em;
}

/* line 125, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.worship-services h1 {
  margin-top: 0;
}
/* line 127, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.worship-services h3 {
  font-size: 2.5em;
}
/* line 131, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.worship-services p {
  font-size: 25px;
  line-height: normal;
}
/* line 136, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.worship-services .location {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin-top: 1em;
}

/* line 143, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.upcoming-events {
  background-color: #ddd;
  padding: 10px;
}
/* line 147, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.upcoming-events h1 {
  font-size: 2.5em;
}
/* line 151, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.upcoming-events h2 {
  font-size: 1.7em;
  text-transform: none;
}

/* line 157, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.photo-signup {
  padding: 0 0 0 2rem;
}
/* line 160, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.photo-signup a {
  display: block;
}

/**************
FOOTER
***************/
/* line 169, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
iframe {
  width: 100%;
  height: 400px;
}

/* line 174, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
footer {
  margin-top: 2em;
}
/* line 176, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
footer p {
  text-align: center;
}

/* line 179, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.wels-logo {
  margin-top: -1em;
}

/* line 183, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.address-info {
  margin-top: 1.5em;
}

/* line 187, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.copyright, .credits {
  text-align: center;
  display: block;
}
/* line 192, /Users/EmilyMikl/morning-garden-45860/app/assets/stylesheets/application.scss */
.copyright a:hover, .credits a:hover {
  background-color: transparent;
}
