<div class="container-fluid background-image">
  <%= 'asset_path(ThisIsTheDayHeader.jpg)' %>
    <div class="col-lg-4 overlay-content">
        <h1><span class="come">Come</span> <span class="oh-come">oh come</span><br /><span class="let-us"> let us </span><span class="worship-span">worship</span></h1>
    </div>
</div>

<div class="container-fluid secondary-info-background">
    <div class="container secondary-info">
        <div class="row">
            <div class="col-sm-6 worship-services">
                <h2>Worship Services</h2>
                <h3>Sundays:</h3>
                <p>8:00 a.m. &amp; 10:30 a.m.</p>
                <p>Sunday School &amp; Adult Bible Classes 9:10 a.m.</p>
            </div>
            <div class="col-sm-6">
                <h2>Upcoming Events</h2>

              
            </div>
        </div>
    </div>
    <div class="container-fluid bottom-block"></div>
</div>