@media (max-width: 929px) {
    .navbar-nav li {
        padding: 0 25px;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        background-color: #363636;
    }

    .navbar-toggle {
        background-color: #FFF;
    }

        .navbar-toggle .icon-bar {
            background-color: #363636;
        }

    .navbar-collapse, .navbar-collapse.in {
        text-align: center;
    }

    .mainNav {
        display: block;
    }

    .navbar-nav li:hover {
        border-bottom: none;
    }

    img.logo {width: 100%;}

    .welsLink img {width: 50%;}
}

@media (max-width: 450px) {
    .welsLink img {
        width: 100%;
    }
}